.booksDiv {
  display: grid;
  grid-template-rows: repeat(auto, 4);
}
.booksDiv .headNewBookDiv {
  margin-top: 20px;
}
.booksDiv .headNewBookDiv h4 {
  float: left;
  margin: 0;
}
.booksDiv .headNewBookDiv button {
  float: right;
}
.booksDiv hr {
  width: 100%;
}
.booksDiv .sortSearch .sortDiv {
  float: left;
}
.booksDiv .sortSearch .sortDiv .mat-form-field-empty.mat-form-field-label {
  color: green;
}
.booksDiv .sortSearch .searchDiv {
  float: right;
}
