.visitorsDiv {
  display: grid;
  grid-template-rows: auto auto auto 20px 100px;
}
.visitorsDiv .headNewVisitorDiv {
  margin-top: 20px;
}
.visitorsDiv .headNewVisitorDiv h4 {
  float: left;
  margin: 0;
  padding-top: 10px;
}
.visitorsDiv .headNewVisitorDiv button {
  float: right;
  background-color: #212121;
}
.visitorsDiv hr {
  width: 100%;
}
.visitorsDiv .sortSearch mat-form-field {
  background-color: #212121;
  border-radius: 7px;
  padding: 5px;
}
.visitorsDiv .sortSearch .sortDiv {
  float: left;
}
.visitorsDiv .sortSearch .searchDiv {
  float: right;
}
.visitorsDiv table {
  grid-row: 5;
  cursor: pointer;
}
.visitorsDiv table th,
.visitorsDiv table td {
  border: 1px solid #4a4a4a;
  text-align: center;
  padding: 5px;
}
.visitorsDiv table th {
  color: #108a8b;
}
.visitorsDiv table .mat-row.hovered {
  background: #ada7a7;
}
.visitorsDiv table .mat-row.highlighted {
  background: #999;
}
