.modalDiv {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
}
.modalDiv .productDiv {
  margin: 250px auto 0;
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.modalDiv .productDiv table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.modalDiv .productDiv table td,
.modalDiv .productDiv table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.modalDiv .productDiv table tr:nth-child(odd) {
  background-color: #dddddd;
}
.modalDiv .productDiv .buttons {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}
.modalDiv .productDiv .buttons button {
  width: max-content;
}
.modalDiv .productDiv .buttons input {
  text-align: center;
}
