li {
  border: 1px solid;
  margin: 10px 0;
  text-align: center;
  position: relative;
}
li a {
  text-decoration: none;
}
li a:visited,
li a:link {
  color: black;
}
li a:hover {
  color: blue;
}
li button {
  position: absolute;
  right: 0;
}
div {
  display: grid;
}
