<div class='weatherByWeek'>
  <h3>Weather in {{weather.name}}, {{weather.region}}, {{weather.country}} this weekend</h3>

  <ul>
    <li *ngFor='let i of iNumber' (click)="weatherDay(i)" [class.active]='i === dayNumTemp'>{{weather.weatherBy7DaysList[i].date | date: 'EEE MM/yy'}}</li>
  </ul>

  <table>
    <tr>
      <td class='riseSet'>
        Sunrise: {{dayDetail.sunrise}}
        <br>
        Sunset: {{dayDetail.sunset}}
      </td>
      <td class='riseSet'>
        Moonrise: {{dayDetail.moonrise}}
        <br>
        Moonset: {{dayDetail.moonset}}
      </td>
      <td [ngStyle]="{'background-color': maxTemp}">Max:<br>{{dayDetail.maxtemp_c}} °c</td>
      <td [ngStyle]="{'background-color': minTemp}">Min:<br>{{dayDetail.mintemp_c}} °c</td>
      <td [ngStyle]="{'background-color': avgTemp}">Avg:<br>{{dayDetail.avgtemp_c}} °c</td>
      <td [ngStyle]="{'background-color': totalprecip}">Precip:<br>{{dayDetail.totalprecip_mm}} mm</td>
      <td [ngStyle]="{'background-color': maxwind}">Max Wind:<br>{{dayDetail.maxwind_kph}} kph</td>
    </tr>
  </table>
</div>
