<div class='welcomeDiv'>
  <h1>Welcome To Weather!</h1>

  <h4>This site show weather for your location... Please enter location</h4>
  <input type="text" [(ngModel)]='locName'>
  <button [disabled]='!locName'>Search</button>
</div>

<hr>

<div class='linkDiv'>
  <a routerLink='/curTime' routerLinkActive='active'><span>Current Weather</span></a>
  <a routerLink='/curWear5Day' routerLinkActive='active'><span>Weather by 5 days</span></a>
  <a routerLink='/curWear7Day' routerLinkActive='active'><span>Weather by week</span></a>
</div>

<div class='contentClass'>
  <router-outlet></router-outlet>
</div>
