<div class='weather5Days'>
  <h4>{{weather.region}} {{weather.country}}</h4>

  <div class="weather5DaysContainer">
    <div class="weathIconText">
      <img src='{{weather.icon}}'>
      <span>{{weather.text}}</span>
    </div>

    <div class="weatherDetails">
      <span>Wind: {{weather.wind_mph}} mph</span>
      <span>Precip: {{weather.precip_mm}} in</span>
      <span>Pressure: {{weather.pressure_mb}} in</span>
    </div>

    <label class="celDeg">{{weather.temp_c}} °c</label>

    <table>
      <tr>
        <td>{{weather.forecastList[0].date | date: 'EEE'}}</td>
        <td>{{weather.forecastList[1].date | date: 'EEE'}}</td>
        <td>{{weather.forecastList[2].date | date: 'EEE'}}</td>
        <td>{{weather.forecastList[3].date | date: 'EEE'}}</td>
        <td>{{weather.forecastList[4].date | date: 'EEE'}}</td>
      </tr>
      
      <tr>
        <td><img src='{{weather.forecastList[0].icon}}'></td>
        <td><img src='{{weather.forecastList[1].icon}}'></td>
        <td><img src='{{weather.forecastList[2].icon}}'></td>
        <td><img src='{{weather.forecastList[3].icon}}'></td>
        <td><img src='{{weather.forecastList[4].icon}}'></td>
      </tr>

      <tr>
        <td>{{weather.forecastList[0].avgtemp_c}} °c</td>
        <td>{{weather.forecastList[1].avgtemp_c}} °c</td>
        <td>{{weather.forecastList[2].avgtemp_c}} °c</td>
        <td>{{weather.forecastList[3].avgtemp_c}} °c</td>
        <td>{{weather.forecastList[4].avgtemp_c}} °c</td>
      </tr>
    </table>
</div>
